<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'


const addressBookStore = useAddressBookStore()
</script>

<template>
    <div v-if="addressBookStore.isAddNew">

        <div>

                <div>
                    <label for="name">Name : </label>
                    <input type="text" id="name" v-model="addressBookStore.address.name" />
                </div>

                <div>
                    <label for="gender">Gender : </label>
                    <select id="gender" v-model="addressBookStore.address.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                    </select>
                </div>

                <div>
                    <label for="tel">Tel : </label>
                    <input type="text" id="tel" v-model="addressBookStore.address.tel">
                </div>

                <div>
                    <button @click="addressBookStore.cancel">Cancel</button><button @click="addressBookStore.save">Save</button>

                </div>

                <div><pre>{{ addressBookStore.address }}</pre></div>
                <!-- <div><pre>{{ addressList }}</pre></div> -->
        </div>

    </div>
    
</template>

<style scoped>
  input,select,label,button {
    font-family: 'Kanit';
    font-size: 20px;
    margin: 5px;
  }
</style>