<script setup lang="ts">
  import { useAddressBookStore } from '@/stores/addressBookStore'
  import AddressBookForm from './AddressBookForm.vue'
  import AddressBookList from './AddressBookList.vue'
  const addressBookStore = useAddressBookStore()

</script>

<template>
  <div><AddressBookForm></AddressBookForm></div>
  <div><AddressBookList></AddressBookList></div>
    <div>

      <button @click="addressBookStore.isAddNew=!addressBookStore.isAddNew">Add</button>

      <table>

        <tr>
          <th>#ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Tel</th>
        </tr>

        <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
          <td>{{ ad.id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.gender }}</td>
          <td>{{ ad.tel }}</td>
          <td>
              <button @click="addressBookStore.edit(ad.id)">Edit</button>
              <button @click="addressBookStore.remove(ad.id)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
      
</template>

