<script setup lang="ts">
  import MessageList from '@/components/MessageList.vue';
  import MessageBox from '@/components/MessageBox.vue';
  import { ref, nextTick } from 'vue';

  const messages = ref<string[]>([])

  const messageList = ref<typeof MessageList|null>(null)
  
  const answers = ['Hi babe!','กินข้าวยังจ๊ะ','bye byee','เออเริ่ด','ไหน','เยี่ยวแตก']

  function send(message: string){
    // console.log(message)
    messages.value.push(message)
    answerWithComputer()
  }

  function answerWithComputer() {
    const ranAns = Math.floor(Math.random()*10000)%answers.length
    // const answer = answers[Math.floor(Math.random()*10000)%answers.length]
    const answer = answers[ranAns]
    console.log(answer + ranAns)
    messages.value.push(answer)
    // ทำข้างบนให้เสร็จก่อน
    nextTick(() => {
      messageList.value?.updateUI()
    })
    
  }
</script>

<template>
  <div style="padding: 10px;">ChatView</div> 
  <!-- <div style="margin: 100px;">ChatView</div>  -->
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>

